# MongoDB Connection String:
# For local MongoDB:
MONGODB_URI="mongodb://127.0.0.1:27017/open-source-template"
# Or for MongoDB Atlas cloud:
# MONGODB_URI="mongodb+srv://<username>:<password>@<cluster>.mongodb.net/myDatabase?retryWrites=true&w=majority"

# NextAuth / Auth Secret (Generate using: npx auth secret)
AUTH_SECRET="run-npx-auth-secret-in-your-terminal-to-generate-a-secure-key"

NEXTAUTH_URL="http://localhost:3000"
